/*
 * Globals
 */

/* Links */
.container{

}
.jumbos {

}
.container-fluid {

}

.title {
  font-family: 'Russo One', sans-serif;
  font-size: 48px;
  /*text-shadow: 4px 4px 4px #aaa;*/
}

.console{
  background-color: #0d1721;
  background-image:
  url("https://www.transparenttextures.com/patterns/axiom-pattern.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.titxle{

  background-color: #0d1721;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  position: absolute;
}

.overlay{

  background-color: #0d1721;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
pointer-events: none;
opacity: 0.5;
background-repeat: repeat;
padding-bottom: 10%;
}
/*
 * Base structure
 */
 .blink_text {

     animation:1s blinker linear infinite;
     -webkit-animation:1s blinker linear infinite;
     -moz-animation:1s blinker linear infinite;

      color: red;
     }

     @-moz-keyframes blinker {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
      }

     @-webkit-keyframes blinker {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
      }

     @keyframes blinker {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
      }
html,
body {
  height: 100%;

     font-size: 12px;
  /*background-color:   grey !important;*/
}
